body {
    background-color: coral;
}

table {
    border: 2px solid black;

}

tr {
    border: 2px solid black;
}

td {
    border: 2px solid black;
    text-align: center;
}

footer {
    border-top: 1px solid #ccc;
    background-color: rgba(255, 80, 80, 0.42);
    color: white;
    padding: 5px;
    z-index: 50;
    bottom: 0;
    left: 0;
    padding-top: 5px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
}

#nameColor {
    color: brown;
}